.card {
    margin-top: 5rem;
    width: 26rem;
    font-size: 1.2rem;
}

.button_done {
    margin-left: 20px;
}

.button_cancel {
    margin-right: 20px;
}

.done {
    color: #43A047;
    font-size: 40px;
    
}

.cancel {
    color: #D32F2F;
    font-size: 40px;
}

.inputs {
    height: 1rem;
}