.card {
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 90%;
    margin-bottom: 1rem;
}

.modal-title {
    font-size: 1.2rem;
}

.message {
    height: 20vh;
}

.photo {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}