@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
h1 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    color: #512DA8;
}

.title {
    margin-top: 20vh;
}