.phone{
    margin-bottom: 20px;
    margin-top: 22px;
}

.add-phone {
    margin-right: 15px;
}

.container-phone {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    width: 70%;
}

.button_done {
    margin-left: 10px;
}

.button_cancel {
    margin-right: 10px;
}

.photo {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}