<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card card-cadastro">
            <div class="card-header">
                <h1>Sobre o sistema</h1>
            </div>
            <div class="card-body">
                <h2>Telas</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Cadastro</h3>
                        <p>Acesso: Gestor</p>
                        <p>Cadastra usários no sistema.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Usarios e Tarefas</h3>
                        <p>Acesso: Gestor</p>
                        <p>Visualiza, edita e exlui os usuários sob sua gestão.</p>
                        <p>Visualiza, edita e exclui as tarefas dos usuários.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Gestão de tarefas</h3>
                        <p>Acesso: Gestor/Usuário</p>
                        <p>O gestor visualiza, edita e exlui as suas tarefas.</p>
                        <p>O usuário visualiza a suas tarefas</p>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                <p>Desenvolvido por Rafael de Biase</p>
            </div>
        </div>
    </div>
</div>