<div>
  <mat-toolbar color="blue">
    <h1>
      Projeto Pastel
    </h1>
    <span class="space"></span>
    <ng-container *ngIf="singIn">
      <button mat-icon-button (click)="goToLogin()">
        <mat-icon>
          account_circle
        </mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="singOut">
      <h4>{{userName}}</h4>
      <button mat-icon-button (click)="logout()">
        <mat-icon>
          no_accounts
        </mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="menu">
          menu
        </mat-icon>
      </button>
    </ng-container>
    <mat-menu #menu="matMenu">
      <mat-nav-list>
        <mat-list-item>
          <button mat-flat-button (click)="goToHome()">
            Home
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-flat-button (click)="goToRegistration()">
            Cadastro
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-flat-button (click)="goToUser()">
            Usuarios e tarefas
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-menu>
  </mat-toolbar>
  <header>
    <router-outlet></router-outlet>
  </header>
</div>